@use '_variables' as *;
header {
  display: flex;
  height: $header-height;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  background-color: rgba($theme-color, 0.5);
  backdrop-filter: blur(20px);

  .logo-wrapper {
    margin: auto auto auto $page-margin;
  }

  .nav-wrapper {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    width: 100%;
  }

  nav {
    padding-inline: $page-margin;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: black;
    width: 100%;
    min-height: 100vh;

    &.show-main-menu {
      display: flex;
      background-color: rgba($theme-color, 0.95);
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      li {
        text-align: center;
        font-size: 1.2rem;

        a {
          text-decoration: none;
          color: $white-translucent;
          font-weight: 600;
          &:hover {
            color: white;
          }
        }

        .active::after {
          content: '';
          display: block;
          position: relative;
          width: 100%;
          height: 3px;
          background-color: rgba(255, 255, 255, 0.336);
          border-radius: 5px;
          animation: in 400ms ease-in-out forwards;
        }

        @keyframes in {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 100%;
          }
        }
      }
    }
  }

  .burger-btn {
    $button-width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 100;
    margin: auto $page-margin auto auto;
    width: $button-width;
    height: 30px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;

    span {
      $height: 5px;
      width: 100%;
      height: $height;
      background: $off-white;
      border-radius: 10px;
      transition: 200ms ease-in-out;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: $button-width;
        height: $height;
        background: $off-white;
        border-radius: 10px;
        transition: 200ms ease-in-out;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: $button-width;
        height: $height;
        background: $off-white;
        border-radius: 10px;
        transition: 200ms ease-in-out;
      }
      &.close-burger-btn {
        background: transparent;

        &::before {
          transform: rotate(45deg);
          top: 12px;
        }
        &::after {
          transform: rotate(-45deg);
          top: 12px;
        }
      }
    }
  }
}

.logo-font {
  font-family: 'Uncial Antiqua', system-ui;
  font-weight: 400;
  font-style: normal;
  text-wrap: nowrap;
  font-size: 1.8rem;
  margin: 0;
}

@media screen and (min-width: 768px) {
  header {
    .logo-wrapper {
      margin: auto auto auto $page-margin-desktop;
    }

    nav {
      margin: 0 auto;
      justify-content: right;
      display: flex;
      max-width: $max-width;
      min-height: $header-height;
      background: transparent;
      position: static;
      padding-inline: $page-margin-desktop;
      ul {
        flex-direction: row;
      }
    }

    .burger-btn {
      display: none;
    }
  }
}
