@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

$theme-color: rgb(32, 31, 31);
$off-white: rgb(218, 219, 219);
$white-translucent: rgba(255, 255, 255, 0.8);

$max-width: 1440px;
$page-margin: 2rem;
$page-margin-desktop: 4rem;
$header-height: 80px;
