@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

$theme-color: rgb(32, 31, 31);

$max-width: 1440px;
$page-margin: 2rem;
$page-margin-desktop: 4rem;
$header-height: 100px;
