@use 'variables' as *;
@use 'booking';
@use 'reset';
@use 'header';
@use 'hero-section';

h1 {
  font-family: 'Uncial Antiqua', system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
}

main:first-of-type {
  height: 100vh;

  & > * {
    padding-top: $header-height;
  }
}

main {
  display: flex;
  flex-direction: column;
}

section {
  max-width: $max-width;
  padding: $page-margin;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: block;
  width: fit-content;
  background: linear-gradient(to right, #72ffb4, #bfaaff);
  border: none;
  color: #000;
  font-weight: bold;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-decoration: none;
  &:hover {
    transform: scale(1.05);
  }
}

@media screen and (min-width: 768px) {
  section {
    padding: $page-margin-desktop;
  }

  h1 {
    font-size: 5rem;
    letter-spacing: -1px;

    margin-bottom: 30px;
  }
}
